{% extends 'layout.html' %} {% block content %}

<div class="timeline">
   <div class="followings half">
      <h2>팔로잉 목록</h2>
      {% if user.Followings %} {% for following in user.Followings %}
      <div>{{following.nick}}</div>
      {% endfor %} {% endif %}
   </div>
   <div class="followers half">
      <h2>팔로워 목록</h2>
      {% if user.Followers %} {% for follower in user.Followers %}
      <div>{{follower.nick}}</div>
      {% endfor %} {% endif %}
   </div>
</div>

<input type="text" id="update-nick-value" placeholder="ex) 홍길동" />
<input type="button" value="닉네임 변경" name="nick" id="update-nick-btn" class="btn" />
<script>
   document.getElementById('update-nick-btn').addEventListener('click', function () {
      const data = document.getElementById('update-nick-value').value;
      axios
         .patch(`/user`, { nick: data })
         .then(() => {
            location.reload();
         })
         .catch(err => {
            console.error(err);
         });
   });
</script>
{% endblock %}
